config/databases.yml
config/ProjectConfiguration.class.php
config/rsync_exclude.txt
config/properties.ini
cache/*
log/*
data/*
web/cache/*
web/.htaccess
web/*Plugin
web/sf*
web/uploads/*
web/stats/*
lib/*/base
lib/model/map/*
lib/model/om/*
lib/vendor/*
.idea